<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>5日内临期整体数据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

<div>
    <table class="layui-hide" id="test" lay-filter="test"></table>
</div>

<script type="text/html" id="iUnitPrice">{{test1(d.iUnitPrice)}}</script>
<script type="text/html" id="iTaxPrice">{{test1(d.iTaxPrice)}}</script>

<script type="text/html" id="iMoney">{{test(d.iMoney)}}</script>
<script type="text/html" id="iSum">{{test(d.iSum)}}</script>

<script type="text/html" id="iPerTaxRate">{{Fix(d.iPerTaxRate)}}</script>
<script type="text/html" id="iQuantity">{{Fix(d.iQuantity)}}</script>
<script type="text/html" id="noArrQuantity">{{Fix(d.noArrQuantity)}}</script>

<script src="../../layuiadmin/layui/layui.js"></script>

<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'form', 'laydate', 'util'], function () {
        var $ = layui.$
            , table = layui.table
            , element = layui.element
            , form = layui.form
            , laydate = layui.laydate
            , util = layui.util
            , layer = layui.layer;
        var indexs = layer.load(2);

        table.render({
            elem: '#test'
            , toolbar: '#toolbarDemo'
            , url: "http://localhost:8081/InThePeriod?username='" + parent.layui.index.getCookie("username") + "'&&Admin='" + parent.layui.index.getCookie("Admin") + "'"
            , height: 'full-30'
            , size:'sm'
            , cols: [[
                {type: 'numbers', width: 50}
                , {field: 'dPODate', title: '单据日期', sort: true, width: 120, align: "center"}
                , {field: 'cPOID', title: '采购订单号', sort: true, width: 130, align: "center"}
                , {field: 'cInvCode', title: '物料编码', sort: true, width: 140, align: "center"}
                , {field: 'cInvName', title: '物料名称', width: 140, align: "center"}
                , {field: 'cInvStd', title: '规格', width: 140, align: "center"}
                , {field: 'iUnitPrice', title: '无税单价', width: 120, align: "center", templet: '#iUnitPrice'}
                , {field: 'iMoney', title: '无税金额', width: 120, align: "center", templet: '#iMoney'}
                , {field: 'iPerTaxRate', title: '税率', width: 70, align: "center", templet: '#iPerTaxRate'}
                , {field: 'iTaxPrice', title: '含税单价', width: 100, align: "center", templet: '#iTaxPrice'}
                , {field: 'iSum', title: '含税金额', width: 100, align: "center", templet: '#iSum'}
                , {field: 'iInvQTY', title: '累计开票数量', width: 140, align: "center", hide: true}
                , {field: 'cVenName', title: '供应商', width: 140, align: "center"}
                , {field: 'dArriveDate', title: '计划到货日期', sort: true, width: 120, align: "center"}
                , {field: 'iQuantity', title: '数量', width: 70, align: "center", templet: '#iQuantity'}
                , {field: 'noArrQuantity', title: '未发货数量', width: 100, align: "center", templet: '#noArrQuantity'}
                , {field: 'cPersonName', title: '业务员', sort: true, width: 100, align: "center"}
            ]]
            , page: true
            , limits: [30,50,100,1000,10000]
            , limit: 30 //每页默认显示的数量
            , done: function (map) {
                layer.close(indexs);
                for (var i in map.data) {
                    $('tr[data-index=' + i + ']').prop('style', 'color:#ff4400');
                    form.render();// 重新渲染一下
                }
            }
            , beforeSend: function () {
                this.layerIndex = layer.load(1, {shade: [0.5, '#393D49']});
            }
            , complete: function () {
                layer.close(this.layerIndex);
            }
            , parseData: function (res) {
                var data = res.data;
                for (index in data) {
                    var date = data[index].dPODate;
                    var time = new Date(date);
                    data[index].dPODate = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
                    var dates = data[index].dArriveDate;
                    var times = new Date(dates);
                    data[index].dArriveDate = times.getFullYear() + "-" + (times.getMonth() + 1) + "-" + times.getDate();
                }
            }
        });

        element.render();

        table.on('sort(test)', function (obj) {
            table.reload('test', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                , where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });

        $('.layui-card-header .layui-btn').on('click', function () {
            var type = $(this).data('type');
            //  active[type] ? active[type].call(this) : '';
        });
    });

    //无小数位
    function Fix(str) {
        if (!str) str = '0.00';
        let ret = Math.round(parseFloat(str) * 10000) / 10000;
        // console.log("ret："+ret);
        let decimal = ret.toString().split('.');
        // console.log("decimal："+decimal);
        if (decimal.length === 1) {
            return ret.toString()
        }
        return ret;
    }

    //小数位为2
    function test(str) {
        if (!str) str = "0.00";
        let ret = Math.round(parseFloat(str) * 10000) / 10000;
        if (str.split(".").length === 1){
            return ret.toString()+".00";
        }
        var decimal = str.split(".")[0];
        var floats = str.split(".")[1].substring(0, 2);
        return decimal + "." + floats;
    }

    //小数位为4
    function test1(str) {
        if (!str) str = "0.0000";
        let ret = Math.round(parseFloat(str) * 10000) / 10000;
        if (str.split(".").length === 1){
            return ret.toString()+".0000";
        }
        var decimal = str.split(".")[0];
        var floats = str.split(".")[1].substring(0, 4);
        return decimal + "." + floats;
    }
</script>
</body>
</html>