<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>招投标-报价审核</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css"
          media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css"
          media="all">
    <link rel="stylesheet"
          href="../../layuiadmin/layui/css/modules/layer/default/layer.css"
          media="all">
    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <!-- 弹框 -->
    <script src="../../layuiadmin/layui/lay/modules/layer.js"></script>
</head>
<body>
<div class="layui-card-header" style="text-align:center;padding-top:20px; height: 80px;">
    <div class="layui-input-inline" style="text-align:left;">
        <span>单据编号：</span>
        <div class="layui-form">
            <select id="otype" name="orgType" class="select" lay-search="" lay-filter="Type_filter"
                    aria-invalid="false">
                <option value="">请选择单据编号</option>
            </select>
        </div>
    </div>
    <div class="layui-input-inline" style="text-align:left;padding-left: 30px">
        <span>供应商名称：</span>
        <div class="layui-form">
            <select id="otype2" name="orgType2" class="select2" lay-search="" lay-filter="Type_filter2"
                    aria-invalid="false">
                <option value="">请选择供应商名称</option>
            </select>
        </div>
    </div>
    <div class="layui-input-inline" style="text-align:left;padding-left: 30px">
        <span>物料编码：</span>
        <div class="layui-form">
            <select id="otype3" name="orgType3" class="select3" lay-search="" lay-filter="Type_filter3"
                    aria-invalid="false">
                <option value="">请选择物料编码</option>
            </select>
        </div>
    </div>
    <div class="layui-input-inline" style="text-align:left;padding-left: 30px">
        <span>发布日期：</span>
        <input type="text" class="layui-input" id="laydate-type-month" placeholder=" ～ ">
    </div>
    <button class="layui-btn layui-btn-lg" data-type="reload" onclick="SearchAll()"
            style="height:70px;margin-left: 30px">
        搜索
    </button>
</div>
<div class="layui-card-body">
    <table class="layui-hide" id="bid-table-onrow" lay-filter="bid-table-onrow"></table>
    <script type="text/html" id="auditPrice">
        {{# if (d.status == "1" || d.status == "0"){ }}
        <a lay-event="editBaojia" class="layui-btn layui-btn-warm layui-btn-xs">审核</a>
        {{#  }else if (d.status == "3" ){ }}
        <a lay-event="Baojia" class="layui-btn layui-btn-xs layui-btn-danger">退回</a>
        {{#  }else if (d.verifyDate != null){ }}
        <a lay-event="postBaojia" class="layui-btn layui-btn-xs">已审核</a>
        {{#  }else if (d.status == "4" || d.verifyDate == null){ }}
        <a class="layui-btn layui-btn-xs layui-bg-gray layui-btn-disabled">审核中</a>
        {{#  } else {d.status == "5" }}
        <a class="layui-btn layui-btn-xs layui-btn-disabled">过期</a>
        {{#} }}
    </script>
</div>

<div class="layui-card-header">
		<span class="layui-layout-right" style="margin-right: 20px; margin-top: -10px;">
			<button class="layui-btn layui-btn-danger layui-btn-sm" data-type="getCheckData" id="testSh">批量审核</button>
            <button class="layui-btn layui-btn-danger layui-btn-sm" data-type="getCheckData" id="testTh">批量退回</button>
		</span>
</div>

<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    var cCode = "";
    var cInvCode = "";
    var cVenName = "";
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table', 'laydate'], function () {
        var admin = layui.admin
            , $ = layui.$
            , form = layui.form
            , table = layui.table
            , element = layui.element
            , laydate = layui.laydate
            , layer = layui.layer;
        var indexs = layer.load(2);

        //搜索日期区间
        laydate.render({
            elem: '#laydate-type-month',
            range: true
        });

        table.render({
            elem: '#bid-table-onrow',
            toolbar: '#toolbarbid-table-onrow',
            url: "http://localhost:8081/supplierAudit?username='" + parent.layui.index.getCookie("username") + "'&&Admin='" + parent.layui.index.getCookie("Admin") + "'",
            cols: [[
                {type: 'checkbox'}
                , {field: 'pubDate', title: '发布日', sort: true, width: 110, align: "center"}
                , {field: 'cCode', title: '单据编号', sort: true, width: 120, align: "center"}
                , {field: 'cInvCode', title: '物料编码', sort: true, width: 100, align: "center"}
                , {field: 'cInvName', title: '物料名称', align: "center", width: 100}
                , {field: 'cInvStd', title: '规格', sort: true, width: 120, align: "center"}
                , {field: 'cComUnitName', title: '单位', width: 80, align: "center"}
                , {field: 'iTaxRate', title: '税率', width: 80, align: "center"}
                , {field: 'cVenName', title: '供应商', sort: true, width: 120, align: "center"}
                , {field: 'iQuantity', title: '数量', width: 70, align: "center"}
                , {field: 'iModSCost', title: '模具价格', width: 100, align: "center"}
                , {field: 'iInvSCost', title: '物料价格', width: 100, align: "center"}
                , {field: 'history', title: '退回原因', width: 100, align: "center"}
                , {field: 'getDate', title: '期望到货日', sort: true, width: 110, align: "center"}
                , {field: 'memo', title: '备注', width: 90, align: "center"}
                , {field: 'cPsn_Name', title: '业务员', sort: true, width: 100, align: "center"}
                , {field: '', title: '操作', width: 75, toolbar: '#auditPrice', align: "center"}
            ]],
            done: function (res) {
                layer.close(indexs);
                for (var i in res.data) {
                    console.log(res.data);
                    var item = res.data[i];
                    if (item.status === "3" || item.status === "4" || item.status === "2") {
                        $('tr[data-index=' + i + '] input[type="checkbox"]').prop('disabled', true);
                        $('tr[data-index=' + i + '] input[type="checkbox"]').prop('checked', false);
                        $('tr[data-index=' + i + '] input[type="checkbox"]').next().remove();
                        // form.render();// 重新渲染一下
                    }
                }
            }

        });

        element.render();
        table.on('checkbox(bid-table-onrow)', function (obj) {
            var checkStatus = table.checkStatus('bid-table-onrow')
                , data = checkStatus.data;
            console.log("监听器");
            console.log(checkStatus.data); //选中行数据
            for (var i = 0; i < data.length; i++) {
                if ($('tr[data-index=' + i + '] input[type="checkbox"]').prop('disabled') == true) {
                    $('tr[data-index=' + i + '] input[type="checkbox"]').prop('checked', false);
                    $('tr[data-index=' + i + '] input[type="checkbox"]').prop('disabled', true);
                    $('tr[data-index=' + i + '] input[type="checkbox"]').next().remove();
                    $('tr[data-index=' + i + '] input[type="checkbox"]').remove();
                }
            }
            form.render();// 重新渲染一下
            //console.log(checkStatus.data.length)
        });

        table.on('sort(bid-table-onrow)', function(obj){
            table.reload('bid-table-onrow', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
            });
        });

        $.ajax({
            url: 'http://localhost:8081/ShowAll'
            , dataType: 'json'
            , type: 'post'
            , async: false
            , success: function (result) {
                $.each(result.data, function (index, item) {
                    console.log("...:" + item["cCode"]);
                    // $('#otype').append(new Option(item.cCode));// 下拉菜单里添加元素
                    $(".select").append("<option value='" + item["cCode"] + "'>" + item["cCode"] + "</option>");
                    if ($(".select option:contains('" + item["cCode"] + "')").length > 1) {
                        $(".select option:contains('" + item["cCode"] + "'):gt(0)").remove();
                    }
                });
                form.render("select");
            }
        });

        $.ajax({
            url: 'http://localhost:8081/ShowAll'
            , dataType: 'json'
            , type: 'post'
            , async: false
            , success: function (result) {
                $.each(result.data, function (index, item) {
                    // $('#otype2').append(new Option(item.cVenName));// 下拉菜单里添加元素
                    $(".select2").append("<option value='" + item["cVenName"] + "'>" + item["cVenName"] + "</option>");
                    if ($(".select2 option:contains('" + item["cVenName"] + "')").length > 1) {
                        $(".select2 option:contains('" + item["cVenName"] + "'):gt(0)").remove();
                    }
                });
                form.render("select");
            }
        });

        $.ajax({
            url: 'http://localhost:8081/ShowAll'
            , dataType: 'json'
            , type: 'post'
            , async: false
            , success: function (result) {
                $.each(result.data, function (index, item) {
                    // $('#otype3').append(new Option(item.cInvCode));// 下拉菜单里添加元素
                    $(".select3").append("<option value='" + item["cInvCode"] + "'>" + item["cInvCode"] + "</option>");
                    if ($(".select3 option:contains('" + item["cInvCode"] + "')").length > 1) {
                        $(".select3 option:contains('" + item["cInvCode"] + "'):gt(0)").remove();
                    }
                });
                form.render("select");
            }
        });

        //监听select值的变化
        form.on('select(Type_filter)', function (data) {
            cCode = data.value;
            console.log("cc:" + cCode);
            // console.log('select.Type_filter: ', this, data);
        });

        //监听select值的变化
        form.on('select(Type_filter2)', function (data) {
            cVenName = data.value;
            console.log("cc:" + cVenName);
            // console.log('select.Type_filter: ', this, data);
        });

        //监听select值的变化
        form.on('select(Type_filter3)', function (data) {
            cInvCode = data.value;
            console.log("cc:" + cInvCode);
            // console.log('select.Type_filter: ', this, data);
        });

        //监听工具条
        table.on('tool(bid-table-onrow)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del();
                    layer.close(index);
                });
            } else if (obj.event === 'editBaojia') {
                // layer.alert('编辑行：<br>' + JSON.stringify(data))
                $.ajax({
                    url: 'http://localhost:8081/writeBackQuotation',
                    type: 'post',
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        if (result.code === 0) {
                            alert("审批成功");
                            location.reload();
                        } else {
                            layer.msg(result.msg);
                        }
                    }
                })
            }
        });


        $("#testSh").click(function () {
            var index = parent.layer.getFrameIndex(window.name);
            var checkStatus = table.checkStatus('bid-table-onrow');//获取选中的值
            console.log("选中的值");
            console.log(checkStatus.data);
            //将对象转化为json字符串
            var paramJson3 = JSON.stringify({"inputText": "", "data": checkStatus.data});
            console.log(paramJson3);
            $.ajax({
                url: "http://localhost:8081/ShenHes?username='" + parent.layui.index.getCookie("username") + "'",
                type: 'post',
                data: paramJson3,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (info) {
                    if (info.code === 1) {
                        alert("审核失败");
                        location.reload();
                    } else {
                        layer.msg(info.msg);
                        alert("审批成功");
                        location.reload();
                    }
                }
            });
        });

        $("#testTh").click(function () {
            var index = parent.layer
                .getFrameIndex(window.name);
            layer.open({
                //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                type: 1,
                title: "请输入退回的原因 : ",
                area: ['50%', '50%'],
                content: "<div class='layui-form-item'>" + "<div class='layui-input-block'><input type='text' name='' id = 'thly' placeholder='请输入' autocomplete='off' class='layui-input'></div></div>",
                btn: ['提交'],
                yes: function (index, layero) {
                    var inputText = $("#thly").val();
                    var checkStatus = table.checkStatus('bid-table-onrow');//获取选中的值
                    console.log("选中的值");
                    console.log(checkStatus.data);
                    console.log("文本框的值");
                    console.log(inputText);
                    var paramJson = JSON.stringify(checkStatus.data);//将对象转化为json字符串
                    var paramJson1 = JSON.stringify(inputText);//将对象转化为json字符串
                    //	console.log("复选框的值改成字符串 : "+paramJson);
                    //	console.log("文本框的值改成字符串 : "+paramJson1);
                    var paramJson2 = "{ 'inputText' : " + paramJson1 + ", 'data' : " + paramJson + "}"
                    //	console.log("拼接之后的json串 : " +paramJson2);
                    var paramJson3 = JSON.stringify(paramJson2);//将对象转化为json字符串
                    console.log("拼接之后的json串1111 : " + paramJson3);
                    $.ajax({
                        url: 'http://localhost:8081/testTh',
                        type: 'post',
                        data: paramJson3,
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        success: function (info) {
                            if (info.code === 1) {
                                alert("退回失败");
                            } else {
                                // layer.msg(info.msg);
                                alert("退回成功");
                                location.reload();
                            }
                        }
                    });
                }
            });

            // //搜索
            // var active = {
            //     reload: function () {
            //         //搜索，执行重载
            //         table.reload('bid-table-onrow', {
            //             url: "http://localhost:8081/findDate?username='" + parent.layui.index.getCookie("username") + "'&&Admin='" + parent.layui.index.getCookie("Admin") + "'"
            //             , where: {
            //                 pubDate: $('#pubDate').val(),
            //                 cPersonName: $('#cPersonName').val(),
            //                 cCusName: $('#cCusName').val(),
            //                 cInvCode: $('#cInvCode').val(),
            //                 cVerifier: $('#cVerifier').val()
            //             }
            //         });
            //     }
            // };


            $('.layui-card-header .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    });

    function SearchAll() {
        layui.use('form', function () {
            var $ = layui.$
                , table = layui.table;
            table.reload('bid-table-onrow', {
                url: "http://localhost:8081/findDate?username='" + parent.layui.index.getCookie("username") + "'&&Admin='" + parent.layui.index.getCookie("Admin") + "'"
                //根据条件查询
                , where: {
                    cCode: cCode
                    , cVenName: cVenName
                    , cInvCode: cInvCode
                    , pubDate: $('#laydate-type-month').val()
                }
            });
        });
    }
</script>
</body>
</html>